.filterProducts {
  align-items: center;
  background-color: #fff;
  display: flex;
  justify-content: center;
  transition: top 0.3s;
  min-height: 70px;
  padding: 1rem;
}

.categoryList {
  display: flex;
  grid-gap: 0.5rem;
  flex-wrap: wrap;
}

.colorList {
  display: flex;
  grid-gap: 0.5rem;
  padding-right: 1.5rem;
}

.select {
  padding-left: 0;
  max-width: 230px;
  width: 100%;
  align-items: center;
  display: flex;
  flex: auto;
  height: inherit;
  justify-content: center;
  position: relative;

  select {
    width: 100%;
  }
}
