.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 15px;

  .navLinks {
    display: flex;
    gap: 20px;
    li {
      /*      .button {
        padding: 0;
        border: none;
        font: inherit;
        background-color: transparent;
        text-transform: uppercase;
        color: black;

        &:hover {
          color: var(--brown-color);
        }
      }*/

      a {
        text-transform: uppercase;
        color: var(--black-color);
        padding-block: 10px;

        &:hover {
          color: var(--brown-color);
        }
      }
    }

    .cartLink{

      div {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: 8px;
        background-color: #4b70e2;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        span {
          margin-bottom: 3px;
          line-height: 0;
          color: #f6f9fc;
        }
      }
      svg {
        font-size: 30px;
      }


    }

  }
}
